/* Contact.css */

body{
  background-color: rgb(241, 241, 241);
}
.contact-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 93px;
  align-items: center;
  height: 80vh;
}

.contact-form {
  width: 48%;
  padding: 20px;
  box-sizing: border-box;
}

.contact-image {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
}

.contact-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

.contact-form textarea {
  height: 200px;
}

.contact-form button {
  width: 40%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto; /* Center the button by setting left and right margins to auto */
  display: block; /* Ensure the button takes up the full width specified by the width property */
}


.contact-form button:hover {
  background-color: #0056b3;
}

.contact-image img {
  /* padding-top: 80px; */
  width: 85%;
  height: 400px; /* Set a fixed height for the image */
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow effect */
}
