
.row {
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 99vw;
  }

  .row2{
    padding-bottom: 100px;
  }
  
  .card {
    width: 18rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    margin: 10px; /* Adjust margin as needed */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #555;
  }
  
  .btn-primary {
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-primary:hover {
    background-color: #217dbb;
  }



  