/* DogTrain.css */
.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  margin: 10px auto;
  padding: 30px;
}


.content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;/* Add margin to create space between content containers */
  padding-top: 20px;
}

.text-container {
  flex: 1;
  padding: 0 20px; /* Adjust padding */
}

.image-container {
  flex: 1;
  padding-top: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.training-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn-primary {
  /* Add your button styling here */
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}
