.footer {
    background-color: #ececec; 
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 1; 
    transition: opacity 0.5s;
    height: 90px;
  }
  
  .footer p{
  font-size: medium;
  font-weight: lighter      ;
  }
  
  .footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
      color: rgb(10, 135, 10);
  }
  